<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messageBus" type="MessageBus.Config.MessageBusSection,MessageBus" />    
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    
    <appSettings>
      <add key="MONGO_CONNECTION" value="DEV"/>
      <add key="MONGODB_NAME" value="MessageBus"/>
      <add key="ClientSettingsProvider.ServiceUri" value=""/>
    </appSettings>
    
    <connectionStrings>
      <add name="DEV" connectionString="mongodb://127.0.0.1:27017"/>
    </connectionStrings>

  <messageBus>
    <defaultParams>
      <param name="MaxDocuments" value="1000000" />
      <param name="MaxSize" value="1070596096" />
    </defaultParams>
    <supportedMessageTypes>
      <supportedType value="MessagePublishingTest.Events.FundsTransfer">
        <param name="MaxDocuments" value="20000" />
      </supportedType>
    </supportedMessageTypes>
  </messageBus>

</configuration>